{% extends 'base.html' %}
{% load static %}
{% block body %}
<div>
    <img src="{%static '/partner01.png' %}" alt=""  style="background-repeat:no-repeat; background-size:cover; height:700px; background-position: 50% 50%; width:100%">
</div>
<div class="" style="padding:20px 400px; background-color:white;">
    <form action="{% url 'page:partner' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title">
        <input type="text" name="content">
        <input type="date" name="duedate">
        <input type="password" name="password">
        <input type="submit" class="btn btn-primary">
    </form>
    <div>
        <h3 style="border-bottom:1px solid #D5D5D5; padding-bottom:15px;">동행 구하기 게시판</h3>
        {% for partner in partners %}
        <div style="border-bottom:1px solid #D5D5D5; height:70px; padding-top:10px;">
            <div style="widows: 15%; float:left; ">
                <span class="btn btn-success">진행중</span>
            </div>
            <div style="width:85%; float:right">
                <div>
                    <a href="">{{partner.title}}</a></div>
                <div>
                    <span>
                        승규
                    </span>
                    <span>
                        {{partner.duedate}}
                    </span>
                </div>
                
            </div>
        </div>

        {% endfor %}
    </div>
    <a href="{% url 'page:write' %}">글쓰기</a>
</div>

{% endblock %}